.header {}

.header__inner {
  display: flex;
  align-items: center;
  padding: clamp(2rem, 1.48rem + 1.42vw, 4rem) 0;
}

.header__logo {
  font-size: clamp(3.2rem, 2.68rem + 1.42vw, 5.2rem);
  font-family: var(--ff-title);
  margin-right: clamp(2rem, -2.99rem + 13.48vw, 21rem);
  transition: color var(--transition-fast), transform var(--transition-base);
}

@media (hover: hover) {
  .header__logo:hover {
    color: var(--accent);
    transform: rotate(-3deg) translateY(-2px);
  }
}

.header__contact {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  transition: color var(--transition-fast);
}

.header__contact::after,
.header__link::after,
.header__action::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  content: '';
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--transition-base);
}

@media (hover: hover) {
  .header__contact:hover {
    color: var(--accent);
  }

  .header__contact:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.header__nav {
  margin-left: auto;
  margin-right: clamp(2rem, -1.8rem + 10.28vw, 16.5rem);
}

.header__list {
  display: flex;
  align-items: center;
  gap: clamp(2rem, 1.42rem + 1.56vw, 4.2rem);
}

.header__item {}

.header__link {
  position: relative;
  font-size: 18px;
  transition: color var(--transition-fast);
}

@media (hover: hover) {
  .header__link:hover {
    color: var(--accent);
  }

  .header__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.header__action {
  position: relative;
  font-size: 18px;
  transition: color var(--transition-fast);
}

@media (hover: hover) {
  .header__action:hover {
    color: var(--accent);
  }

  .header__action:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (max-width: 768px) {
  .header__action {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .header__nav {
    display: none;
  }
}

/* Бургер-меню */

@media (width > 768px) {
  .burger {
    display: none;
  }
}

@media (width <=768px) {
  .burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    transition: color var(--transition-fast), transform var(--transition-base);
  }

  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
  }
}

@media (width <=768px) and (hover: hover) {
  .burger:hover {
    color: var(--accent);
    transform: rotate(8deg);
  }
}
